a.menu{
    font-size: large;
    color: #000000;
}

p.suggest{
    font-size:x-large;
    color:#000000
    　　
    "ＭＳ 明朝";
}

@media screen and (min-width: 800px) {
    /* 表示領域が800px以上の場合に適用するスタイル */
       a.menu { width: 100%; }

}
@media screen and (max-width: 799px) {
   /* 表示領域が800px未満の場合に適用するスタイル */
   a.menu { width: 240px; float: left; }
}

